<section class="profile-page">

    <div class="profile-card">

        <div class="top-section">

            <i class="message fas fa-envelope"></i>
            <i class="notif fas fa-bell"></i>
            <div class="pic">
                <img src="profile.png">
            </div>

            <div class="email">User email: {{email}}</div>
        </div>

        <div class="bottom-section">
            <h2>My Space</h2>
        </div>
    </div>

    <div class="products-list">
        @if (profileProducts.length !== 0) {
        @for (product of profileProducts; track $index) {
            <div class="product">
            
                <img class="media" src={{product?.image}} alt="example1" />
            
            <div class="content">
                    <p class="name">{{product?.name}}</p>
               
                <p class="price">{{product?.price | currency : 'USD':'symbol-narrow': '2.2-2'}} </p>

                <a class="details-btn" [routerLink]="['/catalog',product?._id]">Details</a>
            </div>

        </div>
        }
        } @else {
        <h2 class="no-record-in-profile">You have not added any products to your cart yet...</h2>
        }
    </div>
</section>