@if (errMessage) {
  <app-error-message />
}

<section id="login">
  <div class="form">
    <h2>Login</h2>
    <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
      <input type="email" name="email" id="email" placeholder="email" ngModel #emailInput="ngModel" required [appEmail]="domains" minlength="10" />
      
      @if (emailInput?.touched) {
      <div class="errorContainer">
        @if (emailInput?.errors?.['required']) {
         <p>Email is required!</p>
        }
        @if (emailInput?.errors?.['emailValidator']) {
           <p>Email must be valid!</p>
          }
          @if (emailInput?.errors?.['minlength']) {
            <p>Email must be at least 10 characters long!</p>
            }
      </div>
    }
       <input type="password" name="password" id="password" placeholder="password" ngModel #passwordInput="ngModel" required minlength="4" />
     @if (passwordInput?.touched) {
        <div class="errorContainer">
          @if (passwordInput?.errors?.['required']) {
          <p>Password is required!</p>
          }
            @if (passwordInput?.errors?.['minlength']) {
              <p>Password must be at least 4 characters long!</p>
              }
        </div>
      }
      <button [disabled]="form.invalid" [style]="{background: form.invalid ? 'grey':'#fcfdcd', color: form.invalid ? '#fff' : '#fff'}">login</button>
      <p class="message">
        Not registered? <a routerLink="/register">Create an account</a>
      </p>
    </form>
  </div>
</section>